
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700,900');


body {
	background: #000;
	color: #fff;
	font: 16px/1.25 "Muli", sans-serif;
}

h1 {
	text-align: center;
}

a {
	color: #f00;
	text-decoration: none;
}

.title-black, .title-white {
	display: inline-block;
	height: 3rem;
	width: 3rem;
	background: #000;
	color: #fff;
	line-height: 3rem;
	text-transform: uppercase;
}

.title-white {
	background: #fff;
	color: #000;
}

main, footer, #raceway {
	position: relative;
	width: 50rem;
	height: 5rem;
	margin: 0 auto;
	border: 1px solid #fff;
}

#raceway {
	position: absolute;
	z-index: 1;
	border: 0;
}

#start-line, #finish-line {
	float: left;
	height: 5rem;
	width: 5rem;
	border-left: 1px solid #fff;
	font-weight: 900;
	line-height: 2rem;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .15rem;
	writing-mode: vertical-rl;
  text-orientation: sideways;
	transform: rotate(180deg);
}

#finish-line {
	float: right;
	border-left: 0;
	border-right: 1px solid #fff;
}

.finish-black, .finish-white {
	display: block;
	float: left;
	width: 1rem;
	height: 1rem;
	background: #000;
}

.finish-white {
	background: #fff;
}

#racer1, #racer2 {
	position: absolute;
	top: 1rem;
	left: 2rem;
	z-index: 2;
	width: 3rem;
	height: 1rem;
	background: #f00;
}

#racer2 {
	top: 3rem;
	background: #00f;
}

#message {
	clear: both;
	height: 4rem;
	padding: 1rem;
	font-size: 2rem;
	font-weight: 900;
	letter-spacing: .5rem;
	text-transform: uppercase;
	text-align: center;
}

footer {
	clear: both;
	border: 0;
	padding: 1rem;
	text-align: center;
}

#racer1wins, #racer2wins, #playAgain {
	width: 33%;
	float: left;
	text-align: center;
	font-weight: 900;
}

#racer2wins {
	float: right;
}

#racer1wins p, #racer2wins p {
	font-size: 2rem;
	margin: .5rem 0;
}

button {
	display: block;
	float: none;
  cursor: pointer;
	margin: 1rem auto;
  border: none;
	padding: 1rem;
  background: #0f0;
  color: #000;
	font-weight: 900;
}
